footer {
    font-size: xx-large;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    position: relative;
    bottom: 0;
    padding-top: 15%;
    /* vertical-align: bottom; */
}