.title {
  font-family: 'Press Start 2P', cursive;
  font-size: large;
  
  display: flex;
  justify-content: flex-start;
  margin-left: 30px;
  margin-bottom: 30px;
}

.columnleft {
  float: left;
  width: 25%;
}

.columnright {
  float: right;
  width: 75%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

#profilepic {
    background-image: url('../../public/img/profilepic.png');
    background-size: cover;
    width: 100%;
    min-width: 250px;
    max-width: 550px;
    height: auto;
    /* min-height: 250px;
    min-width: 250px; */
    display: flex;
    justify-content: flex-start;
    align-items: left;
    margin-left: 30px;
  }

p {
  font-family: 'Monda', sans-serif;
  color: #000000;
  display: flex;
  justify-content: left;
  margin-left: 20px;
}