nav {
    margin-top: -40px;
    text-align: right;
    padding-right: 15px;
    padding-bottom: 50px;
    border-bottom: 5px;
}

button {
    font-family: 'Monda', sans-serif;
    background-color: white;
    background-color: #448998;
    border: 2px solid #4CAF50;
    transition-duration: 0.4s;
    margin-right: 10px;
    padding: 5px;
}

button:hover {
    background-color: white; /* Green */
    color: #448998;
}