p {
    font-family: 'Monda', sans-serif;
    color: #573a9c;
    display: flex;
    justify-content: left;
    /* justify-content: flex-start; */
    /* align-items: left; */
    margin-left: 30px;
}

.title {
    font-family: 'Press Start 2P', cursive;
    font-size: x-large;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 30px;
  }

h2 {
    font-family: 'Monda', sans-serif;
    font-size: x-large;
    display: flex;
    justify-content: flex-start;
    margin-left: 30px;
}

.leftcolumn {
    float: left;
    width: 50%;
}

.leftcolumn:before {
    margin: 10px;
}

.rightcolumn {
    float: left;
    width: 50%;
}

.rightcolumn:before {
    margin: 10px;
}

.rightcolumn:after {
    margin: 15px;
}
  
.row:before {
    margin: 15px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

#project1 {
    background-image: url('../../public/img/imda.png');
    background-size: cover;
    width: 90%;
    height: auto;
    max-width: 700px;
    margin-left: 30px;
}

#project3 {
    background-image: url('../../public/img/finalproject.png');
    background-size: cover;
    width: 90%;
    height: auto;
    max-width: 700px;
    margin-left: 30px;
}

#project2 {
    background-image: url('../../public/img/D&D.png');
    background-size: cover;
    width: 90%;
    height: auto;
    max-width: 700px;
    margin-left: 30px;
}

#pwatexteditor {
    background-image: url('../../public/img/pwatexteditor.png');
    background-size: cover;
    width: 90%;
    height: auto;
    max-width: 700px;
    margin-left: 30px;
}

#expressnotetaker {
    background-image: url('../../public/img/expressnotetaker.png');
    background-size: cover;
    width: 90%;
    height: auto;
    max-width: 700px;
    margin-left: 30px;
}

#teamprofile {
    background-image: url('../../public/img/teamprofile.png');
    background-size: cover;
    width: 90%;
    height: auto;
    max-width: 700px;
    margin-left: 30px;
}

#dayplanner {
    background-image: url('../../public/img/dayplanner.png');
    background-size: cover;
    width: 90%;
    height: auto;
    max-width: 700px;
    margin-left: 30px;
}

#codequiz {
    background-image: url('../../public/img//codequiz.png');
    background-size: cover;
    width: 90%;
    height: auto;
    max-width: 700px;
    margin-left: 30px;
}

#passwordgenerator {
    background-image: url('../../public/img/passwordgenerator.png');
    background-size: cover;
    width: 90%;
    height: auto;
    max-width: 700px;
    margin-left: 30px;
}
